html, body {
    background-color: #444;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", 
        "Roboto", "Oxygen", "Ubuntu", "Helvetica Neue", Arial, sans-serif;
    
    font-size: 14pt;
    line-height: 1.5em;
}

#root {display: flex; flex-direction: column;}
section { display: flex; flex-direction: column; }
article { display: flex; flex-direction: row; }

